name: Build and Release

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            goos: windows
            goarch: amd64
            ext: .exe
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            ext: ""
          - os: macos-latest
            goos: darwin
            goarch: amd64
            ext: ""

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          # Keep in sync with go.mod
          go-version: "1.22.x"
          cache: true

      - name: Download deps
        run: go mod download

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: "1"
        run: |
          go build -trimpath -ldflags "-s -w" -o dist/game_tool_box-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.ext }} ./cmd/game_tool_box

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: game_tool_box-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Display dist
        run: ls -R dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**/game_tool_box-*
          tag_name: ${{ github.refname }}
          draft: true
          prerelease: false
          body: |
            BEFORE PUBLISHING CHECKLIST:
            1. Update the version in pom.xml and push the change to github.
            2. Add a new tag according with the version in pom.xml and push the tag to github.
            3. Check whether there are failed github actions and whether the gh-page is updated successfully.
            4. Fill in the changelog below.
            5. Download the release zips and test that the binaries works.
            --- PUBLISH GITHUB RELEASE HERE ---
            --- DELETE EVERYTHING ABOVE THIS LINE ---

            This is a binary release of GameToolBox for Linux/MacOS/Windows. To use it follow these [instructions](https://jiangxincode.github.io/GameToolBox/).

            - new feature 1
            - new feature 2

            ```


