name: Coverage Report

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          # Keep in sync with go.mod
          go-version: "1.22.x"
          cache: true

      - name: Download deps
        run: go mod download

      - name: Publish coverage report to Codacy
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: "1"
        run: |
          go test -coverprofile=unit.coverage.out ./...
          export CODACY_PROJECT_TOKEN=${{ secrets.CODACY_PROJECT_TOKEN }}
          bash <(curl -Ls https://coverage.codacy.com/get.sh ) report --force-coverage-parser go -r unit.coverage.out
